{deps, [
    {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
    {cfgsrv, ".*", {git, "git://github.com/voxoz/cfgsrv.git", "master"}},
    {sync,        ".*", {git, "git://github.com/doxtop/sync", "HEAD"}},
    {erlydtl,       ".*", {git, "git://github.com/evanmiller/erlydtl.git", "HEAD"}},
    {lager,       ".*", {git, "git://github.com/basho/lager", {tag,"1.2.2"}}}
]}.

