{deps, [
    {erlydtl,       ".*", {git, "git@github.com:voxoz/erlydtl.git", "HEAD"}},
    {n2o,           ".*", {git, "git@github.com:5HT/n2o",                "HEAD"}},
    {n2o_scripts, ".*", {git, "git@github.com:voxoz/n2o_scripts", "HEAD"}},
    {lager,       ".*", {git, "git@github.com:basho/lager", {tag,"2.0.0"}}}
]}.

