{http_server, [
    {nba, 10}, %% Non-blocking acceptors for hook handler. Don't change until you know you need it
    {port, 8989}, %% Port the tiny web server will run at
    {url, ["/secret/hook/url"]} %% Url for hook handler.
]}.

{github, [
    {username, "5HT"}, %% Github login
    {email, "maxim@synrc.com"}, %% Github email
    {password, "123"}, %% Github password
    {repository, ""} %% Name of the repository with the app you want to run at your server
]}.

{server, [
    {docroot, "/home/chvanikoff/erlang/{REPO}"}, %% Where to clone repo and where to run git pull on updates
    {domain, "http://site.com"} %% Your server domain or IP
]}.
